.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 12s linear;
  height: 5vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-top: -40px;
}

.App-link {
  color: red;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.PageContent {
  margin: 50px;
  margin-top: 15px;
  text-align: justify;
  font-size: 20px;
}

.Login {
  margin: 300px;
  margin-top: 150px; 
}